langchain
langchain-community
langchain-ollama
langgraph
langsmith
chromadb
sentence-transformers
fastapi
uvicorn
websockets
python-multipart
pymupdf
beautifulsoup4
requests
datasets
python-dotenv
pydantic
arabic-reshaper
python-bidi
numpy
pandas
scikit-learn
matplotlib
jupyter
ipython
tqdm
